/*
* ---------------------------------------------------------------------------------------------------------------------------------
* 	
*	Web URL	      : http://eqnabeautysalon.com
*	Year		      : 2020 - 2020
*	Developer	    : Rohit
* contact dev   : rohitwebco@gmail.com
* Dev-web       : rohitwebco.com
*	Style		      : scss --> CSS-3
*
* ---------------------------------------------------------------------------------------------------------------------------------*/
/* Utility */
/*---------------------------------------------------------------------------------------------------------------------------------
*
* 		Site Settings.
*
* ---------------------------------------------------------------------------------------------------------------------------------*/
/*		Font variables
---------------------------------------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&display=swap");
/*		text sizing
---------------------------------------------------------------------------------------------------------------------------------*/
/*		Colors
---------------------------------------------------------------------------------------------------------------------------------*/
/*		Text 	*/
/*		Border		*/
/*	background 	*/
/* 	repeat 	*/
/* Base */
/*---------------------------------------------------------------------------------------------------------------------------------
*
* 		Base structure
*
* ---------------------------------------------------------------------------------------------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* colors */
  --base-light-color: #ffffff;
  --base-dark-color: #222;
  --btn-color: #abc502;
  --btn-border-color: #abc502;
  --border-color: #e7e7e7;
  --text-color: rgb(88, 88, 88);
  --text-header-color: #333333;
  --nav-bg-color: rgba(17, 17, 17, 0.932);
  --nav-text-color: #ffffff;

  /* font */
  --nav-font: "Baloo Thambi 2", cursive;
  --header-font: "Open sans";
  --para-font: "Open sans";
  --link-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* text size */
  --nav-text: 1rem;
  --header-text: 2rem;
  --para-text: 1.2rem;

  /* transition */
  --transition: all 250ms ease-in-out;
}

p {
  font-family: var(--para-font);
  font-size: 15px;
  color: var(--text-color);
}

.body__wrap {
  position: relative;
}

.wrap__section {
  margin: 0 auto;
}

/* #Social Media color
----------------------------------------------------------------------------------------------------------------------------------- */
/* #Mixin - headings
-----------------------------------------------------------------------------------------------------------------------------------*/
/* #Mixin - transitions
-----------------------------------------------------------------------------------------------------------------------------------*/
/* Fonts */
/* Layout*/
/*---------------------------------------------------------------------------------------------------------------------------------
*
* 		Header(general) section
*
* ---------------------------------------------------------------------------------------------------------------------------------*/
.body__header {
  width: 100%;
  position: absolute;
  top: 0;
}

.header__toggle {
}

.body__header header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__brand {
}

/* for javascript action
  -   add this class when user start scrolling and stick on top
*/
.on-scroll__body-header {
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid #222;
  position: fixed;
}

.off-scroll__header {
  margin: 20px auto;
}
/*---------------------------------------------------------------------------------------------------------------------------------
*
* 		Navigation(general) section
*
* ---------------------------------------------------------------------------------------------------------------------------------*/
nav {
}

nav ul {
  display: flex;
}

.nav__link {
  font-family: var(--nav-font);
  font-size: var(--nav-text);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--nav-text-color);
}
/*********************************************************************************************
*
* 		Main(general) section
*
**********************************************************************************************/
/* -------------------------------------------------------------------------------------------
*
*		base design
*
* -------------------------------------------------------------------------------------------*/
/*  Testimonial section
--------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------
*
*		banner section
*
* -------------------------------------------------------------------------------------------*/
.body__banner {
  /* display: none; */
}

.banner__img img {
  width: 100%;
  height: 100vh;
}

/*  -------------------------------------------------------------------------------------------
*
*		Home page
*
* -------------------------------------------------------------------------------------------*/
/*  -------------------------------------------------------------------------------------------
*
*		solution page
*
* -------------------------------------------------------------------------------------------*/
/*  Front end solution page
--------------------------------------------------------------------------------------------------- */
/*  Responsive solution page
--------------------------------------------------------------------------------------------------- */
/*  Web design solution page
--------------------------------------------------------------------------------------------------- */
/*  Media design solution page
--------------------------------------------------------------------------------------------------- */
/*  -------------------------------------------------------------------------------------------
*
*		about page
*
* -------------------------------------------------------------------------------------------*/
/*  -------------------------------------------------------------------------------------------
*
*		work page
*
* -------------------------------------------------------------------------------------------*/
/* Media-Layout*/
/*Large screan 1225px and above */
/*medium screan 769px to 1224px */
/* small screens 768px and below */
/*Large screan 1225px and above */
/*medium screan 769px to 1224px */
/* small screens 768px and below */
/* Moduls */

/*# sourceMappingURL=style.css.map */
