/*---------------------------------------------------------------------------------------------------------------------------------
*
* 		Site Settings.
*
* ---------------------------------------------------------------------------------------------------------------------------------*/

/*		Font variables
---------------------------------------------------------------------------------------------------------------------------------*/
$font-1: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-2: "Josefin Slab", serif;
$font-3: "Helvetica", Arial, sans-serif;
$font-4: "Open Sans", Condensed, sans-serif;

/*		text sizing
---------------------------------------------------------------------------------------------------------------------------------*/
$para-text: 15px;
$header-text: 30px;
$sub-text: 24px;
$link-text: 15px;

/*		Colors
---------------------------------------------------------------------------------------------------------------------------------*/
$white: #ffffff;
$light-g: #e7e7e7; // border
$lightish-g: #5c5c5c; // p + li + sub
$darkish-g: #363636; // header + sub header

$base-color: #235174;

$base-bg: rgba(0, 78, 74, 0.9);

// $btn-bg: #ef4123;

/*		Text 	*/
// $heading-1: 30px;
// $heading-2: 17px;
// $text-1: 14px;

// $text-color: #505050;
// $text-color-1: #444444;
// $text-color-2: #6d6f72;
// $text-color-3: #696969;

// $link-color: #fb5339;
// $link-color-hover: #696969;

// $link-bg: #ffcb05;

/*		Border		*/
// $border-color: #c0c0c0;
// $border-color-1: #b4b1b1;
// $border-color-3: #adadad;

// $icon-color: #848383;
// $icon-color-1: #b4b1b1;
// $icon-color-2: #b4b1b1;
// $bg-blue: #65a2d7;

/*	background 	*/
// $bg-1: #f2f1f1;
// $bg-aside: #f6f4f4; // text shadow  /
// $bg-highlight: #f99a46;

/* 	repeat 	*/
// $heading-color-1: #333;
